/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Noto+Sans+Avestan&display=swap');
*/
:root{
      --vermelho:#E50914;
      --preta:#141414;
}
*{
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
}
body{
     background: var(--preta);
     font-family: 'Times New Roman', Times, serif;
     color: white;
     min-height: 100vh;
}
header .container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
}
header #logo{
      margin-left: 30px;
      color: var(--vermelho);
      font-family: 'Arial Black', Times;
      font-size: 50px;
}

.waviy {
      display: flex;
      margin-right: 10%;
    }
    .waviy span {
      position: relative;
      display: inline-block;
      color: var(--vermelho);
      animation: waviy 1s;
      animation-delay: calc(.1s * var(--i));
      
    }
    @keyframes waviy {
      0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-20px)
      }
    }

header nav a{
      color: rgb(194, 192, 192);
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 15px;
      font-size: 18px;      
}
header nav a:hover{
      color: #fff;      
}

/*FILME PRINCIPAL*/

.filme-principal{
      font-size: 18px;
      background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/supernatural-capa.jpg);
      height: 95%;
      width: 100%;
      padding-bottom: 2%;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

.titulo{
      font-size: 3em;
      margin-top: 12%;
      margin-left: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao{
      margin-top: 10px;
      margin-bottom:40px;
      margin-left: 10px;
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      opacity: 80%;
}

.botoes .botao{
      background-color: rgb(240, 236, 236);
      border:none;
      color: black;
      padding: 10px;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 35px;
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
}

.botao:hover{
      cursor: pointer;
      border: 1px solid rgb(158, 156, 156);
      background-color: #e9101b;
      color: white;
      transform: scale(1.05);
      font-weight: 550;
     
}
.botao2{
      padding: 10px;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 35px;
      width: 20%;
      opacity: 75%;
}
.botao2:hover{
      opacity: 100%;
      cursor: pointer;
      border: 1px solid white;
      background-color:rgb(235, 233, 233);
      transform: scale(1.05);    
}

button img{
      width: 20px;
}

.container{
      margin-left: 20px;
      padding-bottom: 20%;
}

.filme-principal .container{
      width: 85%;
}

.carrosel-filmes{
      margin-top: 1%;
      width: 100%;
      height: 100%;
      display: inline-block;
}
div span{
      display: none;
}
/*
#busca{
      background-color:white;
      border:solid 1px white;
      border-radius:10px;   
      padding: 5px;
      height: 25px;
      display: inline-block;
      margin-left:78%;
      margin-top: -72px;
}  
.botao{
     padding: 8px;
     display: flex;
     margin-left:10%;
     margin-top: 32px;
}

    